.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filterInput {
  margin-top: 10px;
  margin-bottom: 20px;
}

.postList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.postCard {
  width: 400px;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.postCard h3 {
  margin-top: 0;
  margin-bottom: 10px;
}

.postCard p {
  margin-top: 0;
  margin-bottom: 20px;
}

.postCard button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #ddd;
  cursor: pointer;
}

.postCard button:hover {
  background-color: #ccc;
}
